.nav-tabs {
  display: flex;
  justify-content: center;
}
.modalHeader {
  border-bottom: 0 !important;
}
.nav-tabs .nav-link.active {
  color: var(--blue) !important;
  background-color: transparent !important;
  font-size: 14px !important;
}
.nav-tabs .nav-link {
  width: 120px;
  background-color: var(--blue) !important;
  margin-left: 10px !important;
  color: #fff !important;
  font-size: 14px !important;
}
.modalWrapp {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start !important;
  min-height: 200px;
}
.modalWrapp select {
  width: 310px;
}
